// Colours
$primary-colour: red;
$secondary-colour: blue;

// Text
$default-font: Lato;
$regular-size: 16px;
$h1-size: 2em;

// Spacing
$spacing: 20px;
$small-spacing: 10px;
$x-small-spacing: 5px;

// Specific
$navbar-height: 70px;