@use './app.scss';
@use './archive.scss';
@use './constants.scss';
@use './game.scss';
@use './header.scss';

body {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: constants.$default-font;
}
